amqp==5.3.1
asgiref==3.11.0
billiard==4.2.4
black==26.1.0
celery==5.6.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==5.2.4
django-allauth==65.9.0
django-browser-reload==1.18.0
django-cleanup==9.0.0
django-htmx==1.23.2
dotenv==0.9.9
kombu==5.6.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.3
pillow==11.3.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.4.0
redis==7.1.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
tzlocal==5.3.1
vine==5.1.0
wcwidth==0.5.0
